{% extends "blarg/views/templates/base.html" %}

{% block content %}

<div class="page-header">
	<h2>Archive</h2>
</div>

<div>
{% for month in months %}
{% for post in month %}
{% if forloop.first %}
<h3>{{post.mmyyyy}}</h3>
{% endif %}
<div class="row">
	<div class="span2 muted text-right"><time title="{{post.created_at|to_fulltime}}">{{post.created_at|to_month-day}}</time></div>
	<div class="span9"><a href="{{context}}{{post|post-url}}">{{post.title}}</a></div>
</div>
{% endfor %}
{% endfor %}
</div>

{% endblock %}
