{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h2>About This Site</h2>
</div>

<p>
This is the personal web site / development blog of me, Gered King. I'm a 
programmer based on Toronto, Canada. Currently I use this site to blog about 
mostly code / geek stuff. Though I may occasionally post completely random and 
unrelated stuff. I also intend to use this to house individual project pages 
for stuff I'm working on as I'm ready to make it publicly available.
</p>

<p>
Also, here's the obligatory link to my 
<a href="http://www.gered.net/">portfolio site</a>.
</p>

<h3>"blarg.ca" ... ?</h3>

<p>
It's just a funny sounding word that I decided I liked around 2003 or so and
decided to register the domain. Unfortunately the .com wasn't available. I
tried putting up various other sites here in the past and usually ended up
taking them down before long. For the most part, from 2003 until 2009-10 or so,
I just used this domain for a custom email address... because @gmail.com is
boring and people care about that stuff, right?
</p>

{% endblock %}
