<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>blarg.ca{{ htmlTitle|nonull}}</title>
	<link href="{{ path('/rss') }}" rel="alternate" title="blarg.ca" type="application/rss+xml" />

	{{ stylesheet('/css/bootstrap.min.css') }}
	{{ stylesheet('/css/bootstrap-markdown.css') }}
	{{ stylesheet('/css/railscasts.css') }}
{% if userId %}
	{{ stylesheet('/css/select2.css') }}
	{{ stylesheet('/css/bootstrap-combobox.css') }}
{% endif %}
	{{ stylesheet('/css/screen.css') }}

	<script type="text/javascript">
		var context = "{{ path('') }}";
	</script>

	{{ javascript('//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js') }}
	{{ javascript('/js/bootstrap.min.js') }}
	{{ javascript('/js/markdown.js') }}
	{{ javascript('/js/to-markdown.js') }}
	{{ javascript('/js/bootstrap-markdown.js') }}
	{{ javascript('/js/highlight.pack.js') }}
{% if userId %}
	{{ javascript('/js/select2.min.js') }}
	{{ javascript('/js/bootstrap-combobox.js') }}
	{{ javascript('/js/modals.js') }}
{% endif %}
	{{ javascript('/js/site.js') }}
</head>

<body>
<div class="container">

<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="{{ path('/') }}">blarg.ca</a>
		<ul class="nav">
			<li><a href="{{ path('/about') }}">About</a></li>
			<li><a href="{{ path('/archive') }}">Archive</a></li>
			<li><a href="{{ path('/projects') }}">Projects</a></li>
		</ul>
		<ul class="nav pull-right">
{% if userId %}
			<li><a href="{{ path('/newpost') }}"><i class="icon-pencil"></i> New Post</a></li>
			<li><a href="{{ path('/listfiles') }}"><i class="icon-file"></i> Files</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i> {{userId}}<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('/profile') }}">Profile</a></li>
           			<li class="divider"></li>
					<li><a href="{{ path('/logout') }}">Sign Out</a></li>
				</ul>
			</li>
{% else %}
			<li><a href="{{ path('/login') }}">Login</a></li>
{% endif %}
		</ul>
	</div>
</div>

{% if breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endif %}

<div class="content" role="main">
{% block content %}
{% endblock %}
</div>

<div class="site-footer">
	<div class="row">
		<div class="span6 muted">
			<a href="mailto:gered@blarg.ca"><img src="{{ path('/img/email.png') }}" width="32" height="32" alt="Email" /></a>
			<a href="{{ path('/rss') }}"><img src="{{ path('/img/rss.png') }}" width="32" height="32" alt="RSS" /></a>
			<a href="https://twitter.com/geredking"><img src="{{ path('/img/twitter.png') }}" width="32" height="32" alt="Twitter" /></a>
			<a href="http://github.com/gered"><img src="{{ path('/img/github.png') }}" width="32" height="32" alt="GitHub" /></a>
		</div>
		<div class="span6 text-right muted">
			&copy; 2014, Gered King<br />
			<a href="https://github.com/gered/blarg">Source</a>
		</div>
	</div>
</div>

</div>

</body>
</html>
