{% extends "../base.html" %}

{% block content %}

{% if (posts is empty) %}
<div>
	<p class="text-center">There are no posts.</p>
</div>
{% else %}
{% for post in posts %}
{% include "post.html" %}
{% endfor %}

<ul class="pager">
	{% if atlastpage %}
	<li class="previous disabled"><a>&larr; Older</a></li>
	{% else %}
	<li class="previous"><a href="{{ path(concat('/?page=', nextpage)) }}">&larr; Older</a></li>
	{% endif %}

	{% if atfirstpage %}
	<li class="next disabled"><a>Newer &rarr;</a></li>
	{% else %}
	<li class="next"><a href="{{ path(concat('/?page=', prevpage)) }}">Newer &rarr;</a></li>
	{% endif %}
</ul>

{% include "publishmodal.html" %}
{% include "deletemodal.html" %}
{% endif %}
{% endblock %}
