{% if user-id %}

<div id="publishModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="publishModalLabel">Publish Post</h3>
	</div>
	<div class="modal-body">
		<p>Would you also like to reset the post's date to the current date/time?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-forpostid="" id="publishModalOkNoReset">Publish Only</button>
		<button class="btn btn-warning" data-forpostid="" id="publishModalOk">Publish and Reset Date</button>
	</div>
</div>

{% endif %}
