{% extends "blarg/views/templates/base.html" %}

{% block content %}

<div class="page-header">
	<h2>Index of {{path}}</h2>
</div>

<div>
	<div class="pull-left form-inline">
		<select id="tree">
		{% for folder in tree %}
		<option{% ifequal folder path %} selected{% endifequal %}>{{folder}}</option>
		{% endfor %}
		</select>
		<a class="btn" href="#" id="tree-selector">Go</a>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#newFileModal">Upload File</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="file-list-container">
	{% ifempty not files %}
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th width="440px">Filename</th>
				<th width="100px">Size</th>
				<th width="240px">Last Modified</th>
				<th width="160px">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
			<tr>
				<td>
					<a href="{{context}}/files{{path}}{{file.filename}}"><i class="icon-file"></i>  {{file.filename}}</a><br />
					<small class="muted">{{file.content-type}}</small>
				</td>
				<td>{{file.size}}</td>
				<td>{{file.last_modified|to_fulltime}}</td>
				<td style="text-align: right;">
					<a class="btn btn-warning" data-updatefileid="{{file.id}}" href="#">Update</a>
					<a class="btn btn-danger" data-deletefileid="{{file.id}}" href="#">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p class="text-center">No files found.</p>
	{% endifempty %}
</div>

<div id="newFileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newFileModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="newFileModalLabel">Upload File</h3>
	</div>
	<form action="{{context}}/uploadfile" method="post" enctype="multipart/form-data" class="form-horizontal">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="newPath">Path</label>
				<div class="controls">
					<input type="text" id="newPath" name="path" value="{{path}}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="newFile">Upload File</label>
				<div class="controls">
					<input type="file" id="newFile" name="file" placeholder="File" />
				</div>
			</div>
			<p>If a file exists at the selected path with the same filename as the one uploaded it will be updated automatically.</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button type="submit" class="btn btn-primary">Upload</button>
		</div>
	</form>
</div>

<div id="deleteFileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="deleteFileModalLabel">Delete File</h3>
	</div>
	<form action="{{context}}/deletefile" method="post" class="form-horizontal">
		<input type="hidden" id="deleteFileId" name="file" />
		<div class="modal-body">
			<p>Confirm that you would like to delete the following file:</p>
			<p><strong id="deleteFileModalFilename"></strong></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button type="submit" class="btn btn-primary">Delete</button>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#tree').combobox({force_match: false});
	$('#tree').data('combobox').val('{{path}}');
});

$('#tree-selector').click(function() {
	var path = $('#tree').data('combobox').val();
	window.location.href = '{{context}}/listfiles' + path;
});

$('a[data-deletefileid]').click(function() {
	var fileId = $(this).data('deletefileid');

	$('#deleteFileModalOkNoReset').data('forfileid', fileId);
	$('#deleteFileModalOk').data('forfileid', fileId);
	$('#deleteFileModal').modal({backdrop: 'static', keyboard: false});
	$('#deleteFileId').val(fileId);
	$('#deleteFileModalFilename').text(fileId);
});

$('#deleteFileModalOkNoReset').click(function() {
	var fileId = $(this).data('forfileid');
	$('#deleteFileModal').find('button').attr('disabled', 'disabled');
});

$('#publishModalOk').click(function() {
	var fileId = $(this).data('forfileid');
	$('#deleteFileModal').find('button').attr('disabled', 'disabled');
});
</script>

{% endblock %}
