html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

code, pre {
	font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, "Liberation Mono", Courier, monospace;
}

.error {
    color: red;
}

.content[role="main"] {
	/*
	margin-left: 10px;
	margin-right: 10px;
	*/
}

.content[role="main"] > div,
.content[role="main"] > ul, 
.content[role="main"] > p,
.content[role="main"] > h1,
.content[role="main"] > h2,
.content[role="main"] > h3,
.content[role="main"] > h4,
.content[role="main"] > form {
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #eee;
}

.label a {
	color: #fff;
}

.single-post {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.unpublished-post,
.unpublished-file {
	background-color: #e1edff;
}

.post {
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.post .header {
	margin-bottom: 10px;
}

.post .header h2 {
	margin-bottom: 0px;
}

.login-container {
	margin: 0 auto;
	width: 220px;
}

div.file-list-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
